.chat-wrapper{
  width: 530px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  .chat-bubble{
      box-shadow: 5px 5px 10px rgba(167, 171, 211, 0.43);;
      padding: 10px 20px;
      max-width: 300px;
      background-color:#EEEEEE;
      border-radius: 20px;
      position: relative;
      margin-left: 10px;
      .chat-tail{
        position: absolute;
        transform: translateX(-30%) translateY(10%);
        bottom:0px;
        left:0px;
      }
    }
    &.sender{
      flex-direction: row-reverse;
      .chat-bubble{
        background-color:#DCDCDC;
        margin-right: 20px;
        .chat-tail{
          transform: translateX(8%) translateY(10%) scaleX(-1);
          bottom: 0px;
          right: 0px;
          path{
            fill: #DCDCDC;
          }
        }
      }
    }
}